{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name worker.core, :imports nil, :requires {worker.util worker.util, timer worker.timer, worker.timer worker.timer, settings worker.settings, worker.settings worker.settings, slack worker.slack, worker.slack worker.slack}, :cljs.spec/speced-vars [], :uses {on worker.util}, :defs {start {:name worker.core/start, :file "src/worker/core.cljs", :line 7, :column 1, :end-line 7, :end-column 11, :meta {:file "/Users/brian/projects/tomaat/src/worker/core.cljs", :line 7, :column 6, :end-line 7, :end-column 11}, :tag any}, stop {:name worker.core/stop, :file "src/worker/core.cljs", :line 10, :column 1, :end-line 10, :end-column 10, :meta {:file "/Users/brian/projects/tomaat/src/worker/core.cljs", :line 10, :column 6, :end-line 10, :end-column 10}, :tag any}}, :cljs.spec/registry-ref [], :require-macros nil, :doc nil}