{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name tomaat.worker.settings, :imports nil, :requires {data tomaat.data, tomaat.data tomaat.data}, :cljs.spec/speced-vars [], :uses nil, :defs {update-settings {:protocol-inline nil, :meta {:file "/Users/brian/projects/tomaat/src/tomaat/worker/settings.cljs", :line 4, :column 7, :end-line 4, :end-column 22, :arglists (quote ([event id settings])), :doc "Merge the given settings into stored settings for Tomaat"}, :name tomaat.worker.settings/update-settings, :variadic false, :file "src/tomaat/worker/settings.cljs", :end-column 22, :method-params ([event id settings]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 3, :fn-var true, :arglists (quote ([event id settings])), :doc "Merge the given settings into stored settings for Tomaat"}}, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:keywordize-keys}, :order [:keywordize-keys]}, :doc nil}