{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name figwheel.connect.build-ui-dev, :imports nil, :requires {ui.core ui.core, figwheel.client figwheel.client, figwheel.client.utils figwheel.client.utils}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:build-id :websocket-url}, :order [:build-id :websocket-url]}, :doc nil}