{:rename-macros {}, :renames {}, :externs {tomaat {main {core {reload {}}}}}, :use-macros {}, :excludes #{}, :name figwheel.connect.build-main-dev, :imports nil, :requires {figwheel.client figwheel.client, figwheel.client.utils figwheel.client.utils, tomaat.main.core tomaat.main.core}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:on-jsload :debug :build-id :websocket-url}, :order [:on-jsload :build-id :websocket-url :debug]}, :doc nil}